<section data-ng-controller="BetListsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Bet lists</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="betList in betLists" data-ng-href="#!/bet-lists/{{betList._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="betList.created | date:'medium'"></span>
				by
				<span data-ng-bind="betList.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="betList.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!betLists.$resolved || betLists.length">
    	No Bet lists yet, why don't you <a href="/#!/bet-lists/create">create one</a>?
    </div>
</section>