<section data-ng-controller="UpdatesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Updates</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="update in updates" data-ng-href="#!/updates/{{update._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="update.created | date:'medium'"></span>
				by
				<span data-ng-bind="update.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="update.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!updates.$resolved || updates.length">
    	No Updates yet, why don't you <a href="/#!/updates/create">create one</a>?
    </div>
</section>