<section data-ng-controller="UpdatesController">
    <div class="page-header">
        <h4>Run Updates -> Archive</h4>
    </div>
	<div class="col-md-12" data-ng-show="displayParams">
		<form class="form-horizontal" data-ng-submit="listDayResults(0)" novalidate>
            <fieldset>
                <div class="form-group">
					<label class="control-label" for="name">Last Update Run: </label>
                    <div class="controls">
                        <p data-ng-bind="user.archiveUpdated" class="form-control"></p>
                    </div>						
				</div>	
                <div class="form-group">
                    <label class="control-label" for="name">Confirm Url: </label>
                    <div class="controls">
                        <p data-ng-bind="resultsUrl" class="form-control"></p>
                    </div>
                </div>
				<div class="form-group" data-ng-click="$hide()">
					<input type="submit" class="btn btn-large btn-primary">
					<a href="/#!/" class="btn btn-large btn-danger">Cancel</a>
				</div>		
				</br>					
            </fieldset>		
		</form>	
	</div>	
	<div class="col-md-12 watchlist" data-ng-show="displayConfirmList">
		<scrollable-table watch="updateArchiveList" ng-style="{height: updateArchiveList.length > 10 ? user.userDesktopTableScrollValue : 38 + facilities.length * 10}" resizable>				
			<table class="table table-condensed table-striped">	
				<thead>
					<tr>
						<th sortable-header col="country">country</th>
						<th sortable-header col="league">league</th>	
						<th sortable-header col="day">day</th>		
						<th sortable-header col="time">time</th>	
						<th sortable-header col="game">game</th>				
						<th sortable-header col="home">home</th>	
						<th sortable-header col="away">away</th>
						<th sortable-header col="h_goals">h_goals</th>
						<th sortable-header col="h_goals">a_goals</th>						
						<th sortable-header col="odds_1">odds_1</th>	
						<th sortable-header col="odds_x">odds_x</th>
						<th sortable-header col="odds_2">odds_2</th>							
						<th sortable-header col="odds_delta">odds_delta</th>
						<th sortable-header col="h_status">h_status</th>
						<th sortable-header col="d_status">d_status</th>
						<th sortable-header col="a_status">a_status</th>						
					</tr>
				</thead>		
				<tbody>
					<tr data-ng-repeat="fixture in updateArchiveList">
						<td>
							<p data-ng-bind="fixture.country"></p>
						</td>
						<td>
							<p data-ng-bind="fixture.league"></p>
						</td>		
						<td>
							<p data-ng-bind="fixture.day"></p>
						</td>								
						<td>
							<p data-ng-bind="fixture.time"></p>
						</td>						
						<td>
							<p data-ng-bind="fixture.game"></p>
						</td>
						<td>
							<p data-ng-bind="fixture.home"></p>
						</td>
						<td>
							<p data-ng-bind="fixture.away"></p>
						</td>								
						<td align="center">
							<p data-ng-bind="fixture.h_goals"></p>
						</td>
						<td align="center">
							<p data-ng-bind="fixture.a_goals"></p>
						</td>						
						<td align="center">
							<p data-ng-bind="fixture.odds_1"></p>
						</td>								
						<td align="center">
							<p data-ng-bind="fixture.odds_x"></p>
						</td>	
						<td align="center">
							<p data-ng-bind="fixture.odds_2"></p>
						</td>
						<td align="center">
							<p data-ng-bind="fixture.odds_delta"></p>
						</td>
						<td align="center">
							<p data-ng-bind="fixture.h_status"></p>
						</td>	
						<td align="center">
							<p data-ng-bind="fixture.d_status"></p>
						</td>	
						<td align="center">
							<p data-ng-bind="fixture.a_status"></p>
						</td>							
					</tr>
				</tbody>
			</table>	
		</scrollable-table>
		<small data-ng-show="updateArchiveList.length > 0">
			<em class="text-muted">
				<span data-ng-bind="fixturesToUpdate"></span>				
			</em>
		</small>
		</br>
		<div class="alert alert-warning text-center" data-ng-show="updateArchiveList.$resolved || updateArchiveList.length == 0">
			No Fixtures to Update Archive.
		</div>
		<div class="form-group" data-ng-click="$hide()">
			<input type="submit" class="btn btn-large btn-primary" data-ng-onclick="postDayResults()">
			<a href="/#!/" class="btn btn-large btn-danger">Cancel</a>
		</div>		
		</br>	
	</div>		
	<div data-ng-show="notice" class="text-danger">
		<strong data-ng-bind="notice"></strong>
	</div>	
</section>